[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
jupyterlab = "*"
opencv-python = "*"
imageio = "*"
imutils = "*"
matplotlib = "*"

[requires]
python_version = "3.7"
